.propty-label {
 color:rgb(206, 35, 35);
}

.input {
  
  width:30vw;
  border:solid 1px; 
}

.Msg-para {
  color:red;
  
  margin-top:10px;
  font-weight: 550;
  background-color: lightblue;
  padding:10px;
  width:25vw;
  border-radius: 6px;
}