.login-card {
  border:solid transparent 1px;
  width:600px;
  border-radius: 10px;
  padding:20px;
  background-color: lightslategray;

}

.main-container {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
}

.login-heading {
  text-align: center;
  font-weight: 700;
  color:lightgreen;
}

.input {
  padding:8px
}
.label-el {
  font-weight: bold;
  margin-top:20px;
  color:rgb(224, 20, 20);
}
.btn-card {
  text-align: center;
  margin:20px;
}